 
 html{
  scroll-behavior:smooth; /* To enable smooth scrolling feature */
}
body{
    background-color: white; 
    font-family: Century Gothic;
    margin:0; /*It removes default browser margin around the page */
    height:100%; /*To occupy full height of viewport */
 }
 .Header{
    background-image: url("HeaderPhotoMe.jpeg");
    background-size: cover; /* Makes the image cover the entire area */
    background-position: center;  /* Centers background image */
    height: 300px;
    display: flex;
    justify-content: center; /*Places content horizontally centered */
    align-items: center; /* Places content vertically centered */
    color: black;
    border-radius: 25px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.NavigationBar{
    background-color: rgb(4, 85, 132);
    text-align: center; /* Places content horizontally centered */
    padding:10px;
    margin:10px;
    border-radius: 5px;
}
 
.NavigationBar a{
    color:white;
    margin:0 15px;
    text-decoration:none; /* Removes underline from links */
    font-weight:bold; /* Makes the link bold */
}
.Parallax1{
    background-attachment: fixed; /* Creates the parallax scrolling effect */
    background-position: center; /* Centers the image */
    background-repeat: no-repeat; /* Prevents image from repeating */
    background-size: cover; 
}
.img1{
    background-image: url("newpic(3).jpg");
    height:700px;
}
.img2{
    background-image: url("PortfolioImage(1).jpeg");
    height:700px;
}
.img3{
    background-image: url("newpic(1).jpg");
    height:700px;
}
.img4{
    background-image: url("PortfolioImage(4).jpeg");
    height:700px;
}
.img5{
    background-image: url("newpic(2).avif");
    height:100px;
}
.Footer {
  color: white;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
}
#About{
    background-color: white;
    font-family: Century Gothic;
}

#Skills{
    background-color: white;
}
#Project{
    background-color: white;
    border-radius: 40px;
    display:flex;
    flex-direction: row;
    flex-wrap:wrap; /* Items move to next line if no space */
    justify-content: center;
    gap:35px; /* Space between items */
    padding:2px 100px 2px 0px;
}
#Project div{
    flex:1;
}
#Contact{
    background-color: white;
}
.projectpro1 img{
    transition: transform 0.3s; /* Smoothes out the animation when image scales */
    width:100%;
    height:auto;
    display:box;
    border:1px double black;
    border-radius: 18px;
    padding:5px;
    margin:30px;
}
.projectpro1 img:hover{
    transform: scale(1.1); /* Enlarges the image slightly */
}
.projectpro2 img{
    transition: transform 0.3s;
    width:100%;
    height:auto;
    display:box;
    border:1px double black;
    border-radius: 18px;
    padding:5px;
    margin:30px;
}
.projectpro2 img:hover{
    transform: scale(1.1);
}
.projectpro3 img{
    transition: transform 0.3s;
    width:100%;
    height:auto;
    display:box;
    border:1px double black;
    border-radius: 18px;
    padding:5px;
    margin:30px;
}
.projectpro3 img:hover{
    transform: scale(1.1);
}
#top{
    position:fixed; /* Fixes the element even while scrolling */
    bottom:20px;
    right:20px;
}
@media only screen and (max-width:600px){
    #Project{
        display:flex;
        flex-direction: column;
    }
}
